:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Theme colors */
  --color-primary: rgba(52, 60, 106, 1);
  --color-primary-light: rgba(113, 142, 191, 1);
  --color-primary-lighter: rgba(223, 234, 242, 1);
  --color-primary-lightest: rgba(230, 239, 245, 1);

  --color-black: rgba(0, 0, 0, 1);
  --color-black-light: rgba(35, 35, 35, 1);
  --color-black-lighter: rgba(91, 90, 111, 1);
  --color-black-lightest: rgba(177, 177, 177, 1);

  --color-white: rgba(255, 255, 255, 1);
  --color-white-rgb: 255 255 255;

  --color-gray-lighter: rgba(245, 247, 250, 1);
  --color-gray-lightest: rgba(237, 241, 247, 1);

  --color-danger: rgba(255, 75, 74, 1);

  --color-success: rgba(65, 212, 168, 1);

  --color-warning: rgba(255, 187, 56, 1);

  --color-info: rgba(57, 106, 255, 1);

  /* Theme z-indexes */
  --z-index-low: 10;
  --z-index-medium: 20;
  --z-index-high: 50;
  --z-index-highest: 100;


  color-scheme: light dark;
  color: var(--color-primary);
  background-color: var(--color-light);

}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

/* */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  padding: 0;
  overflow-x: hidden !important;
}
